<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <form action="/add" method="POST">
       
       <% if(data){ %>
          <label>Total: </label><input value="<%= data %>" type="text" name= "ans" id="ans">        
        <% }else{%>
          <label>1st Number : </label><input type="text" name= "item1" id="item1">
          <label>2nd Number : </label><input type="text" name= "item2" id="item2">
          <input type="submit" value="Add">
       <% } %>
      </form>
      </div>

  </body>
</html>
